html, body, #root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'AvertaPE', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #f7f8fa;
  background-color: #000;
  user-select: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

#root {
  --dot: url(assets/img/dot.svg);
  --circle: url(assets/img/circle.svg);
}